NET "hsync" LOC = J14;
NET "hsync" DRIVE = 2;
NET "hsync" PULLUP;
NET "vsync" LOC = K13;
NET "vsync" DRIVE = 2;
NET "vsync" PULLUP;

NET "Red[2]" LOC = F13;
NET "Red[2]" DRIVE = 2;
NET "Red[2]" PULLUP;
NET "Red[1]" LOC = D13;
NET "Red[1]" DRIVE = 2;
NET "Red[1]" PULLUP;
NET "Red[0]" LOC = C14;
NET "Red[0]" DRIVE = 2;
NET "Red[0]" PULLUP;

NET "Green[2]" LOC = G14;
NET "Green[2]" DRIVE = 2;
NET "Green[2]" PULLUP;
NET "Green[1]" LOC = G13;
NET "Green[1]" DRIVE = 2;
NET "Green[1]" PULLUP;
NET "Green[0]" LOC = F14;
NET "Green[0]" DRIVE = 2;
NET "Green[0]" PULLUP;

NET "Blue[2]" LOC = J13;
NET "Blue[2]" DRIVE = 2;
NET "Blue[2]" PULLUP;
NET "Blue[1]" LOC = H13;
NET "Blue[1]" DRIVE = 2;
NET "Blue[1]" PULLUP;

NET "clk" LOC = B8;
NET "reset" LOC = P11;

# PlanAhead Generated physical constraints 

NET "jump" LOC = G12;
